@model HomeViewModel
@using eShopSolution.ViewModels.Catalog.Products;
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{ var culture = CultureInfo.CurrentCulture.Name; }
@{ ViewData["Title"] = "Home Page"; }
@section styles {
    <link href="~/assets/pages/home/css/index.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
}
@section slider{
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @for (int index = 0; index < Model.Slides.Count; index++)
            {
                var slide = Model.Slides[index];
                <div class="carousel-item @(index == 0?"active":"")">
                    <div class="container">
                        <a href="@slide.Url"><img style="width:100%" src="@slide.Image" alt="@slide.Name" /></a>
                        <div class="carousel-caption">
                            <h4>@slide.Name</h4>
                            <p>@slide.Description</p>
                        </div>
                    </div>
                </div>}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

}
<section class="Featured">
    <div class="well well-small">
        <h4><localize>Sản phẩm mới</localize> <small class="pull-right">20+</small></h4>
        <div class="row prd1-right-items">
            @{
                List<List<ProductVm>> featuredProducts = new List<List<ProductVm>>();
                List<ProductVm> featuredPart = new List<ProductVm>();
            }

            @for (int index = 0; index < Model.FeaturedProducts.Count; index++)
            {
                featuredPart.Add(Model.FeaturedProducts[index]);
                if (featuredPart.Count == 4 || Model.FeaturedProducts.Count < 4)
                {
                    featuredProducts.Add(featuredPart);
                    featuredPart = new List<ProductVm>();
                }

            }
            @for (int index = 0; index < featuredProducts.Count; index++)
            {
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 item">
                    <div class="thumbnail">
                        @foreach (var item in featuredProducts[index])
                        {
                            var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
                            <div class="cont-item">
                                <a href="@url"><img src="@(Configuration["BaseAddress"] + item.ThumbnailImage[0])" alt="@item.Name" style="width: 100%; height: auto"></a>


                            </div>
                            <div class="button">
                                <a class="btn btn-prd1-buynow hidden-xs hidden-sm btn-add-cart" data-id="@item.Id">
                                    Thêm vào giỏ
                                </a>
                            </div>
                            <div class="caption">
                                <h3 class="type">@item.Name</h3>
                                <h3 class="divider"></h3>
                                <h3 class="name">
                                    <a class="btn" href="@url" localize-content>Xem chi tiết</a>
                                </h3>
                                <h3 class="color">Sản phẩm mới</h3>
                                <h3 class="price">
                                    @item.Price.ToString()
                                </h3>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>

    </div>
</section>


@if (User.Identity.IsAuthenticated)
{
    <section class="Featured">
        <div class="well well-small">
            <h4>Gợi ý cho bạn(*)</h4>
            <div class="row prd1-right-items">


                @foreach (var item in Model.LatestProducts)
                {
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 item">
                        <div class="thumbnail">
                            @{ 
                                var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";

                            }
                            <div class="cont-item">
                        <a href="@url"><img src="@(Configuration["BaseAddress"] + item.ThumbnailImage[0])" alt="@item.Name" style="width: 100%; height: auto"></a>


                    </div>
                            <div class="button">
                                <a class="btn btn-prd1-buynow hidden-xs hidden-sm btn-add-cart" data-id="@item.Id">
                                    Thêm vào giỏ
                                </a>
                            </div>
                            <div class="caption">
                                <h3 class="type">@item.Name</h3>
                                <h3 class="divider"></h3>
                                <h3 class="name">
                                    <a class="btn" href="@url" localize-content>Xem chi tiết</a>
                                </h3>
                                <h3 class="price">
                                    @item.Price.ToString()
                                </h3>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
        </section>

            }
            @section scripts {
                <script src="/assets/pages/home/js/index.js" defer></script>


            }
