@model ProductDetailViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture;
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@section styles {
    <link href="~/assets/pages/product/css/detail.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('.alert').fadeOut('slow');
        }, 1000);
    </script>
}
<ul class="breadcrumb">
    <li><a href="/"><localize>Home</localize></a> <span class="divider">/&nbsp;</span></li>
    <li class="active">@Model.Product.Name</li>
</ul>

<div class="row">
    <div id="gallery" class="col-6">
        <div class="row">
            @for (int index = 0; index < Model.Product.ThumbnailImage.Count(); index++)
            {
                <div class="col-6">
                    <div>
                        @{
                            var resultText = @index + 1;
                        }
                        Ảnh @resultText
                    </div>
                    <a href="@(Configuration["BaseAddress"] + Model.Product.ThumbnailImage[index])" title="@Model.Product.Name">
                        <img src="@(Configuration["BaseAddress"] + Model.Product.ThumbnailImage[index])" style="width:100%" alt="@Model.Product.Name" />
                    </a>
                </div>

            }
        </div>



        <div>
            Đánh giá:
            <span><i class="icon-star"></i></span>
        </div>
        <hr class="soft" />
        @if (TempData["ErrorMsg"] != null)
        {
            <span class="alert alert-danger">@TempData["ErrorMsg"]</span>
        }
        @if (TempData["SuccessMsg"] != null)
        {
            <span class="alert alert-success">@TempData["SuccessMsg"]</span>
        }
        <div>
            <form class="form-horizontal" action="/@culture/Product/Detail" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductStart.ProductId" value="@Model.Product.Id" />
                <div class="row g-3">
                   
                    <div class="col-md-6">
                        <label for="inputComment" class="form-label">Đánh giá</label>
                        <input type="text"  class="form-control" id="inputComment" asp-for="ProductStart.Comment" placeholder="Viết đánh giá ở đây">
                    </div>
                    <div class="col-md-3">
                        <label for="inputStart" class="form-label">Số sao</label>
                        <input type="number" class="form-control" id="inputStart" value="5" asp-for="ProductStart.Start" placeholder="Số sao cho sản phẩm">

                    </div>
                    <div class="col-md-3">
                        <label for="inputStart" class="form-label">Xác nhận</label>
                        <button type="submit" class="btn btn-large btn-primary">Gửi</button>

                    </div>
                </div>
               
            </form>
        </div>        
    </div>
    <div class="col-6">
        <h3 class="name-style">@Model.Product.Name</h3>
        <small>@Model.Product.Description</small>
        <hr class="soft" />
        <form class="qtyFrm ">
            @*method="post"  action="@Url.Action("AddToCart", "Cart", @Model.Product)"*@
            <label class="control-label">Giá: <span>@Model.Product.Price</span>VND</label>
            <div class="input-group row">
                <div class="col-3 m-auto">
                    <label class="control-label align-items-end ">Số lượng: </label>

                </div>
                <div class="col-2">
                    <input type="number" id="value_quantity" class="form-control" value="1" />
                </div>
                <div class="col-7">
                    <button type="submit" class=" btn btn-large btn-primary pull-right btn-add-cart " data-id="@Model.Product.Id"> <localize>Add to</localize> <i class=" icon-shopping-cart"></i></button>

                </div>
            </div>
        </form>

        <hr class="soft" />
        <h4>@Model.Product.Stock sản phẩm còn trong kho</h4>
        @*<form class="form-horizontal qtyFrm pull-right">
                <div class="control-group">
                    <label class="control-label"><span>Color</span></label>
                    <div class="controls">
                        <select class="span2">
                            <option>Black</option>
                            <option>Red</option>
                            <option>Blue</option>
                            <option>Brown</option>
                        </select>
                    </div>
                </div>
            </form>*@
        <hr class="soft clr" />
        <p>
            @Html.Raw(Model.Product.Details)
        </p>
        <a class="btn btn-small pull-right" href="#detail"><localize>More Details</localize></a>
        <br class="clr" />
        <a href="#" name="detail"></a>
        <hr class="soft" />
    </div>
    
</div>
<div class=" mt-5 mb-5">

    <div class="row  d-flex justify-content-center">

        <div class="col-md-8">

            <div class="headings d-flex justify-content-between align-items-center mb-3">
                @if (Model.ProductStarts.Count > 0) {
                    <h5>Tất cả đánh giá (@Model.ProductStarts.Count)</h5>

                @*<div class="buttons">

                    <span class="badge bg-white d-flex flex-row align-items-center">
                        <span class="text-primary">Comments "ON"</span>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>

                        </div>
                    </span>

                </div>*@
                }
            </div>

            @if (Model.ProductStarts.Count > 0)
            {
                @foreach (var item in Model.ProductStarts)
                {
                    <div class="card p-3 mb-3">

                        <div class="d-flex justify-content-between align-items-center">

                            <div class="user d-flex flex-row align-items-center">

                                <span><small class="font-weight-bold text-primary">@item.UserName: </small> <small class="font-weight-bold">@item.Comment</small></span>

                            </div>


                            <small>
                                @item.Start <span><i class="icon-star"></i></span></small>

                        </div>


                        @*<div class="action d-flex justify-content-between mt-2 align-items-center">

                            <div class="reply px-4">
                                text

                            </div>



                        </div>*@



                    </div>
                }
            }







        </div>

    </div>

</div>
<div>
    Chi tiết:
    <p>
        @Html.Raw(Model.Product.Details)
    </p>
</div>